// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin screen($size) {
    @if $size == 'sm' {
        @media screen and (min-width: $sm) {
            @content;
        }
    }
    @else if $size == 'md' {
        @media screen and (min-width: $md) {
            @content;
        }
    }
    @else if $size == 'lg' {
        @media screen and (min-width: $lg) {
            @content;
        }
    }
    @else if $size == 'xl' {
        @media screen and (min-width: $xl) {
            @content;
        }
    }
    @else if $size == 'xxl' {
        @media screen and (min-width: $xxl) {
            @content;
        }
    }
}
