.badge {
    background-color: transparent;
    padding: $spacer*.3 $spacer*.6;
    border-radius: $_rad * 6;
    border: 1px solid transparent;
    font-size: .75rem;
    font-weight: 800;
    position: relative;
    top: -2px;
    @each $var, $val in $colors {
        &-#{$var} {
            @extend .badge;
            background-color: $val;
            @if $var == 'light' {
                color: $_gray-dark;
            } @else {
                color: $_white
            }
        }
        &-#{$var}-line {
            @extend .badge;
            border-color: $val;
            @if $var == 'light' {
                color: $_gray-dark;
            } @else {
                color: $val
            }
        }
    }
    &.top-badge {
        position: relative;
        top: -$spacer*.5;
    }
}

.point-badge {
    position: relative;
    &:after {
        content: "";
        border-radius: 50%;
        @extend .center-top-end;
        background-color: $_danger;
        aspect-ratio: 1/1;
        width: 10px;
        font-size: 10px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        color: $_white;
    }
}

.point-badge-number {
    position: relative;
    &:after {
        content: attr(data-number);
        border-radius: 50%;
        @extend .center-top-end;
        background-color: $_danger;
        aspect-ratio: 1/1;
        width: 20px;
        font-size: 10px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        color: $_white;
        box-shadow: $_shadow-sm;
    }
}