.table {
    width: 100%;
    border-collapse: collapse;
    td, th {
        padding: ($spacer*.80) $spacer;
        border: solid 1px $_gray-200;
    }
    
    th {
        background-color: $_primary;
        color: $_light;
    }
    
    tbody tr:nth-child(even) {
        background-color: $_gray-200;
    }
    
    /******
    *
    *   For our tables to be responsive we need to implement the following structure to *   our html:
    *       <tr>
    *           <td data-label="S.No">1</td>
    *           <td data-label="Name">Dinesh</td>
    *           <td data-label="Age">34</td>
    *           <td data-label="Marks%">50%</td>
    *           <td data-label="Status">Passed</td>
    *       </tr>
    *
    ******/
    
    @media (max-width: $md) {
        thead {
            display: none;
        }

        &, tbody, tr, td {
            display: block;
            width: 100%;
        }

        tr {
            margin-bottom: $spacer * 2;
            border-left: 4px solid $_primary;
        }

        td {
            text-align: right;
            position: relative;
            padding-left: 50%;
            &:before { 
                content: attr(data-label);
                position: absolute;
                left: 0;
                width: 50%;
                padding-left: $spacer;
                text-align: left;
                font-weight: 600;
                color: $_gray-600;
                font-size: .8rem;
            }
        }
    }
}
