// Options
$spacer: 1.5rem;

// Colors
$_blue: #0d6efd;
$_indigo: #6610f2;
$_purple: #6f42c1;
$_pink: #d63384;
$_red: #dc3545;
$_orange: #fd7e14;
$_yellow: #ffc107;
$_green: #198754;
$_teal: #20c997;
$_cyan: #0dcaf0;
$_white: #fff;

$_gray: #6c757d;
$_gray-dark: #343a40;
$_gray-100: #f8f9fa;
$_gray-200: #e9ecef;
$_gray-300: #dee2e6;
$_gray-400: #ced4da;
$_gray-500: #adb5bd;
$_gray-600: #6c757d;
$_gray-700: #495057;
$_gray-800: #343a40;
$_gray-900: #212529;

$_primary: #31D488;
$_secondary: #1d915b;
$_success: #01ad5d;
$_info: #0552d8;
$_warning: #d48a02;
$_danger: #ec0000;
$_light: #f8f9fa;
$_dark: #212529;
// On applied changes make sure to adapt the new values of ImgFilter in the _colors.scss file in /utilities
$_primary-filter: invert(69%) sepia(61%) saturate(506%) hue-rotate(96deg) brightness(92%) contrast(88%);
$_secondary-filter: invert(33%) sepia(76%) saturate(4273%) hue-rotate(142deg) brightness(96%) contrast(77%);
$_success-filter: invert(52%) sepia(27%) saturate(4623%) hue-rotate(118deg) brightness(88%) contrast(99%);
$_info-filter: invert(20%) sepia(100%) saturate(3616%) hue-rotate(216deg) brightness(88%) contrast(96%);
$_warning-filter: invert(66%) sepia(38%) saturate(3052%) hue-rotate(3deg) brightness(86%) contrast(98%);
$_danger-filter: invert(13%) sepia(82%) saturate(4851%) hue-rotate(356deg) brightness(95%) contrast(120%);

$colors: (
    dark: $_dark,
    gray: $_gray,
    light: $_light,
    white: $_white,
    
    primary: $_primary,
    secondary: $_secondary,
    success: $_success,
    info: $_info,
    warning: $_warning,
    danger: $_danger,
);

$_primary-rgb: 13, 110, 253;
$_secondary-rgb: 108, 117, 125;
$_success-rgb: 25, 135, 84;
$_info-rgb: 13, 202, 240;
$_warning-rgb: 255, 193, 7;
$_danger-rgb: 220, 53, 69;
$_light-rgb: 248, 249, 250;
$_dark-rgb: 33, 37, 41;
$_white-rgb: 255, 255, 255;
$_black-rgb: 0, 0, 0;

// Fonts
$_font-sans-serif: 'Montserrat', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$_font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$_font-special: 'Squada One', cursive;
$gradient: linear-gradient(180deg, $_primary, $_secondary);
$loader: 'https://res.cloudinary.com/dajsmb4ek/image/upload/v1652366396/Ellipsis-3.3s-200px_1_bkehza.gif';
$btn_loader_size: 50px;

// Body
$_body-font-size: 1rem;
$_body-font-weight: 300;
$_body-line-height: 1.5;

// Shadows
$_shadow:                  0 .5rem 1rem rgba($_dark, .15);
$_shadow-sm:               0 .125rem .25rem rgba($_dark, .075);
$_shadow-lg:               0 1rem 3rem rgba($_dark, .175);
$_shadow-inset:            inset 0 1px 2px rgba($_dark, .075);

// Global
$_rad: 3px;

// Indexes
$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-offcanvas-backdrop:         1040;
$zindex-offcanvas:                  1045;
$zindex-modal-backdrop:             1050;
$zindex-modal:                      1055;
$zindex-popover:                    1070;
$zindex-tooltip:                    1080;

// Form
$_form-borders: rgba($_dark, .15) 1px solid;
$_form-shades: $_shadow-sm;
$_form-background: $_white;
$_form-padd: .5rem .7rem;
$_form-mar: 0 0 36px 0;
$_form-pos: calc(50% - .6em);